In [54]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
from api_keys import client_id, client_secret

from keywords import keywords

import pandas as pd

sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id=client_id, client_secret=client_secret))

In [44]:
# Get total number of episodes for the show

show_id = '4rOoJ6Egrf8K2IrywzwOMk'
podcast = sp.show(show_id=show_id, market='US')

total_episodes = podcast['total_episodes']

print(total_episodes)

2112

In [47]:
# Get data for all shows
showNum = 0
data = []
# Pagination for show requests
while showNum <= total_episodes:
    print("Current Show Count: ", showNum)
    result = sp.show_episodes(show_id=show_id, limit=50, offset=showNum, market='US')

    episodes = result['items']

    # Loop through the 50 episodes requested
    for episode in episodes:
        title = episode['name']
        description = episode['description']
        duration_ms = episode['duration_ms']
        release_date = episode['release_date']
        
        myEpisode = {
            'title' : title,
            'description' : description,
            'duration_ms' : duration_ms,
            'release_date' : release_date
        }
        
        data.append(myEpisode)
    showNum += 50

print(len(data))

Current Show Count:  0
Current Show Count:  50
Current Show Count:  100
Current Show Count:  150
Current Show Count:  200
Current Show Count:  250
Current Show Count:  300
Current Show Count:  350
Current Show Count:  400
Current Show Count:  450
Current Show Count:  500
Current Show Count:  550
Current Show Count:  600
Current Show Count:  650
Current Show Count:  700
Current Show Count:  750
Current Show Count:  800
Current Show Count:  850
Current Show Count:  900
Current Show Count:  950
Current Show Count:  1000
Current Show Count:  1050
Current Show Count:  1100
Current Show Count:  1150
Current Show Count:  1200
Current Show Count:  1250
Current Show Count:  1300
Current Show Count:  1350
Current Show Count:  1400
Current Show Count:  1450
Current Show Count:  1500
Current Show Count:  1550
Current Show Count:  1600
Current Show Count:  1650
Current Show Count:  1700
Current Show Count:  1750
Current Show Count:  1800
Current Show Count:  1850
Current Show Count:  1900
Current Show Count:  1950
Current Show Count:  2000
Current Show Count:  2050
Current Show Count:  2100
2111

In [69]:
# Create DF from data
df = pd.DataFrame(data)
df.head()

,title,description,duration_ms,release_date
0,#1969 - Sam Tallent,"Sam Tallent is a stand-up comic, writer, and a...",10797097,2023-04-12
1,#1968 - Jason Everman,Jason Everman is a musician and military veter...,9347177,2023-04-11
2,JRE MMA Show #138 with Cory Sandhagen,"Joe is joined by Cory Sandhagen, a professiona...",9816340,2023-04-07
3,#1967 - Mike Vecchione,Mike Vecchione is a stand-up comic and actor. ...,9674281,2023-04-06
4,#1966 - Big Jay Oakerson & Ari Shaffir,"Big Jay Oakerson is a stand-up comic, on-air p...",12122388,2023-04-05

In [70]:
# Change MS column to Seconds
df['duration_ms'] = df['duration_ms'].apply(lambda x: float(x / 60000))
df.head()

,title,description,duration_ms,release_date
0,#1969 - Sam Tallent,"Sam Tallent is a stand-up comic, writer, and a...",179.951617,2023-04-12
1,#1968 - Jason Everman,Jason Everman is a musician and military veter...,155.786283,2023-04-11
2,JRE MMA Show #138 with Cory Sandhagen,"Joe is joined by Cory Sandhagen, a professiona...",163.605667,2023-04-07
3,#1967 - Mike Vecchione,Mike Vecchione is a stand-up comic and actor. ...,161.238017,2023-04-06
4,#1966 - Big Jay Oakerson & Ari Shaffir,"Big Jay Oakerson is a stand-up comic, on-air p...",202.039800,2023-04-05

In [72]:
# Rename Columns
df.rename(columns={'duration_ms' : 'duration_seconds'})

,title,description,duration_seconds,release_date
0,#1969 - Sam Tallent,"Sam Tallent is a stand-up comic, writer, and a...",179.951617,2023-04-12
1,#1968 - Jason Everman,Jason Everman is a musician and military veter...,155.786283,2023-04-11
2,JRE MMA Show #138 with Cory Sandhagen,"Joe is joined by Cory Sandhagen, a professiona...",163.605667,2023-04-07
3,#1967 - Mike Vecchione,Mike Vecchione is a stand-up comic and actor. ...,161.238017,2023-04-06
4,#1966 - Big Jay Oakerson & Ari Shaffir,"Big Jay Oakerson is a stand-up comic, on-air p...",202.039800,2023-04-05
...,...,...,...,...
2106,"#5 - John Heffron, Ari Shaffir (Part 1)","Joe sits down with John Heffron, and Ari Shaffir.",64.169500,2010-01-21
2107,"#5 - John Heffron, Ari Shaffir (Part 2)","Joe sits down with John Heffron, and Ari Shaffir.",72.936967,2010-01-21
2108,#3 - Ari Shaffir,Joe sits down with Ari Shaffir.,134.987267,2010-01-06
2109,#2 - Brian Redban,Joe sits down with Brian Redban.,152.107717,2009-12-29
2110,#1 - Brian Redban,Joe sits down with Brian Redban.,122.240283,2009-12-24